#v-shell {
    background-color: #4C4C4C;
    width: 940px;
    border: 1px solid #ffffff;
    text-align: center;
    margin: 10px auto 0 auto;
}

#v-main {
    font-family: 'Raleway', sans serif;
    clear: both;
    margin-bottom: 10px;
    position: relative;
    left: 10px;
    border-top: 1px solid #A0A0A0;
    width: 920px;
    text-align: center;
}

#v-main p {
    text-align: left;
}

#v-main h2 {
    font-family: 'Lancelot', serif;
    font-size: 32pt;
}

div.img {
    text-align: center;
}

#birth-header div {
font-family: 'Playfair Display SC', serif;
position: relative;
width: 920px;
}

#birth-header h1 {
font-family: 'Quintessential', cursive;
}
